* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    width: 99%;
    height: 100vh;
}


header {
    background-color: rgb(64, 94, 230);
    border: 1px solid black;
    margin-bottom: 40px;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(64, 94, 230);
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-left: 1px solid #bbb;
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: #111;
  }

  /* =============================== main ===========================*/ 
/* 
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  */
/* 

  div.gallery {
    margin-right: 5%;
    border: 1px solid #ccc;
    float: left;
    width: 20%;
    
  }
   */
  /* div.gallery:hover {
    border: 1px solid #777;
  }
   */
  /* div.gallery img {
    width: 100%;
    height: auto;
  }
 
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
} */

/* ================================== second row ================================ */
 

.cards-container {
  /* background-color: red; */
  width: 90%;
  height: 100%;
  /* position: relative; */
  /* left: 5% ; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* min-height: 900px; */
  /* border: 5px solid; */
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
}

.cards-container .card {
  /* background-color: whitesmoke; */
  /* display: inline-block; */
  width: 270px;
  /* height: 400px; */
  margin: 15px auto 15px 51px;
  border: 1px solid crimson;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(0, 0, 0, .8);
  text-align: center;
}

.cards-container .card .product-img {
  width: 230px;
  margin: 20px auto;
}

.cards-container .card .product-img img {
  width: 100%;
}

.cards-container .card .product-img img:hover {
  transform: scale(1.1);
  transition: .4s;
}

.cards-container .card .product-info h4{
  box-sizing: border-box;
  height: 42px;
  font-size: 18px;
  padding: 0 25px;
  margin-bottom: 10px;
}

.cards-container .card .btn {
  width: 100%;
  padding: .5px;
  /* height: 20px; */
  /* background-color: black; */
  /* position: relative; */
  /* top: 0; */
  /* box-sizing: border-box; */
  /* padding: 3px; */
}

.cards-container .card .btn button{
  /* display: inline-block; */
  width: 99%;
  padding: 10px;
  background-color: crimson;
  /* position: relative; */
  /* left: 1%; */
  /* height: 44px; */
  border: 1px solid gray;
  outline: none;
  border-radius: 0 0 15px 15px;
  color: black;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

.cards-container .card .btn button:hover{
  background-color: black;
  color: white;
  /* transition: .1s; */
}  


                              /* ================================== card copy for brands page==================================== */


.cards-container .b-card {                    /* so far no need for this name changing, but just in case brands are to be handled differently */
  /* background-color: whitesmoke; */
  /* display: inline-block; */
  width: 25%;
  /* height: 400px; */
  margin: 15px auto 15px 51px;
  border: 1px solid crimson;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(0, 0, 0, .8);
  text-align: center;
}

.cards-container .b-card .product-img {
  width: 230px;
  margin: 20px auto;
}

.cards-container .b-card .product-img img {
  width: 100%;
}

.cards-container .b-card .product-img img:hover {
  transform: scale(1.1);
  transition: .4s;
}

.cards-container .b-card .product-info h4{
  font-size: 18px;
  padding: 0 25px;
  margin-bottom: 10px;
}



.cards-container .b-card .btn {                         /* not needed for brands ? */
  width: 100%;
  padding: .5px;
  /* height: 20px; */
  /* background-color: black; */
  /* position: relative; */
  /* top: 0; */
  /* box-sizing: border-box; */
  /* padding: 3px; */
}

.cards-container .b-card .btn button{                         /* not needed for brands ? */
  /* display: inline-block; */
  width: 99%;
  padding: 10px;
  background-color: crimson;
  /* position: relative; */
  /* left: 1%; */
  /* height: 44px; */
  border: 1px solid gray;
  outline: none;
  border-radius: 0 0 15px 15px;
  color: black;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

.cards-container .b-card .btn button:hover{                         /* not needed for brands ? */
  background-color: black;
  color: white;
  /* transition: .1s; */
}

.cards-container a{
  color: #000;
  text-decoration: none;
}

                        /* ============================= brand products page=======================  */

.b-products-header {
  height: 150px;

}

.b-products-header figure {
  width: 100px;
  display: inline-block;
}

.b-products-header figure img {
  width: 100%;
}
.b-products-header span {
  position: relative ;
  bottom: 30px;
}


                      /* ============================== product details =============================== */

.cards-container .product-details-img {
  /* border: 1px solid red; */
  margin: auto 100px;
  height: 550px;
}

.cards-container .product-details {
  /* border: 1px solid black; */
  width: 600px;
  height: 600px;
}

.product-details .btn {
  margin-top: 40px;
}

.product-details .btn button {
  /* border-top: 40px; */
  width: 80%;
  padding: 10px;
  margin-left: 10%;
  background-color: crimson;
  border: 1px solid gray;
  outline: none;
  border-radius: 15px;
  color: black;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

.product-details .btn button:hover{                         /* not needed for brands ? */
  background-color: black;
  color: white;
  /* transition: .1s; */
}



/* ======================  cart style =================*/

.cart_page {
  margin: 80px auto;
}

table {
  width: 100%;
  border-collapse: collapse;

overflow: hidden;  

}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th{
  text-align: left;
  padding: 5px;
  color:#fff;
  background: rgb(64, 94, 230);;
  font-weight: normal;

}
td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #d11840;
  font-size: 12px;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top:3px solid #2a2880;
  width: 100%;
  max-width: 310px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}



/* ====================signing style========================== */

body {
  background-color: #ffffff;
  font-family: Arial;
}


form.sign-up {
  width: 450px;
  height:600px;
  border: 3px solid #00baff;
  border-radius: 50px;
  margin: 100px auto;
  background-color: #000c33;
}
form.sign-in {
  width: 450px;
  height:420px;
  border: 3px solid #00baff;
  border-radius: 50px;
  margin: 100px auto;
  background-color: #000c33;
}

.login_box {
  width: 460px;
  height: 580px;
  margin: auto;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 500px;

}

h1.sign  {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

input[type="text"],
[type="password"] {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 65px;
  border: 1px solid #00baff;
  border-radius: 20px;
  outline: none;
  align-self: center;
  margin-left: 70px;
}



input[type="submit"] {
  width: 160px;
  height: 30px;
  font-weight: 700;
  border: 1px solid #00baff;
  border-radius: 10px;
  color: #000c30;
  font-size: 15px;
  outline: none;
  align-self: center;
  margin-left: 40px;
  margin-top: 20px;
  transition: 0.7s ease;
}

input[type="submit"]:hover {

  transform: scale(1.1);
}

.btn {
  display: flex;

  padding: 5px;

  margin-left: 93;

}


p {
  color: #000000;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  margin-right: 20px;
}

p a {
  color: #00baff;
}



                             